<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Gaming blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Information about games and their reviews</p>
      <p class="lead">MERN (MongoDB, Express, React, Node)</p>
      <p class="lead">Deployed on Heroku</p>
    </div>
  </div>
 
 