<h1>
    
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Gaming blog</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead">For contact and any information</p>
          
          <a class="text-dark" href="saleemmaaz09@gmail.com">Saleemmaaz09@gmail.com</a>
         
          
        </div>
      </div>
    
</h1>