<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Game review/information</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Share review or information about a newly released or existing game</p>
      <p class="lead">All fields are required to fill else you cant enter information</p>
    </div>
  </div>
 
 
 



  
  <div class="row justify-content-center">
  
  
    <% if(infosubmitObj != '') { %>
        <div class="col-8 alert alert-success" role="alert">
          <%= infosubmitObj %>
        </div>
      <% } %>

      <% if(infoerrorObj != '') { %>
        <div class="col-8 alert alert-danger" role="alert">
          <%= infoerrorObj %>
        </div>
      <% } %>
    
      
    <div class="col-8">
  
      <form action="/submit-game" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">
  
          
  
          <div class="col-12">
            <label for="name" class="form-label">Game Name (required field)</label>
            <input type="text" name="name" id="name" class="form-control" >
          </div>
          
          <div class="col-12">
            <label for="description" class="form-label">Description (required field)</label>
            <input type="description" name="description" id="description" class="form-control" >
          </div>

          <div class="col-12">
            <label for="releaseyear" class="form-label">Release year (required field)</label>
            <input type="releaseyear" name="releaseyear" id="releaseyear" class="form-control" >
          </div>
  
          <div class="col-12">
            <label for="review" class="form-label">Review/Information (required field)</label><br>
            
            <textarea name="review" id="review" class="form-control" cols="30" rows="4"></textarea>
  
         
  
          <div class="col-12">
            <label for="category">Select Category (required field)</label>
            <select class="form-select form-control" name="category" aria-label="Category">
              <option selected>Select Category</option>
              <option value="shooting">Shooter</option>
              <option value="racing">Racing</option>
              <option value="simulation">Simulation</option>
              <option value="darkfantasy">Dark Fantasy</option>
              <option value="pointandclick">Point and click adventure</option>
              <option value="nocategory">No category</option>
            </select>
          </div>
  
          <div class="col-12">
            <label for="image">Cover image</label>
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Informations</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>